@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'JetBrains Mono', monospace;
 
}

#root {
  width: 100vw;
  height: 100vh;
  background: hsl(248, 15%, 11%) ;
  display: flex;
  justify-content: center;
}

/* copied flash animation */ 
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-flash {
  animation: flash 1s infinite;
}